/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    FONT
*/

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*
    GENERAL
*/
img :not(.ita-img){
    max-width: 100%;
}

/*
    HEADER
*/
.container-header {
    background-color: #255EE9;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


.discord1 {
    flex-basis: 10%;
    }

.nav-button {
    display: inline-block;
    flex-basis: 70%;
    text-align: center;
    color: white;
    padding: 10px 15px;
}

.accedi,
.scarica-mac-white,
.apri-browser,
.scarica-mac-blue,
.registrati-button {
    padding: 15px;
    height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.scarica-mac-white,
.scarica-mac-blue {
    width: 20%;
}

.apri-browser {
    width: 25%;
    height: 50px;
}

.accedi, 
.scarica-mac-white {
    display: inline-block;
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 10px 15px;
}

.apri-browser {
    color: white;
    background-color: #23272A;
    border: 1px solid #23272A;
}
    /*
    MAIN
*/
.container-blu {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
}

.first-main {
    max-width: 100%;
    height: 550px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.first-main > h2 {
    padding-bottom: 30px;
}

h2 :not(.space-h2-5) {
    font-size: 4cap;
}

p {
    padding: 5px;
    font-size: larger;
}

.container-white {
    background-color: white;
    padding: 30px;
    display: flex;
}

.container-img1 {
    height: 550px;
    margin-left: 20%;
}

.container-text1 {
    height: 550px;
    margin-right: 20%;
}

.space-h2-1,
.space-h2-2, {
    margin-top: 7%;
    padding-bottom: 5%;
}

.container-gray {
    background-color: lightgray;
    padding: 30px;
    display: flex;
}

.container-img2 {
    height: 550px;
    margin-right: 20%;
}

.container-text2 {
    height: 550px;
    margin-left: 20%;
}

.container-img3 {
    height: 550px;
    margin-left: 20%;
}

.container-text3 {
    height: 550px;
    margin-right: 20%;
}

.space-h2-3, {
    margin-top: 10%;
    padding-bottom: 5%;
}

.container-gray2 {
    background-color: lightgray;
    padding: 30px;
}

.container-img4 {
    height: 600px;
    display: flex;
}

.container-text4 {
    height: 130px;
    text-align: center;
}

.space-h2-4 {
    margin-top: 5%;
}

.container-text5 {
    width: 50%;
    text-align: center;
    padding-top: 3%;
    background-image: url(../img/stars.svg);
}

.scarica-mac-blue,
.registrati-button {
    border: 1px solid #7289DA;
    background-color: #7289DA;
    color: white;
    margin: 3%;
}
/*
    FOOTER
*/

.container-dark {
    background-color: #23272A;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.container1 {
    width: 13%;
    height: 550px;
    margin-left: 21%;
}

.container2 {
    width: 10.51%;
    height: 550px;
}

.space-h2-6,
.container2 :first-child {
    color: #7288D8;
}

section {
    display: flex;
    align-items: center;
}

.italiano {
    margin-left: 3%;
    color: white;
}

.logo {
    color: white;
    font-size: 2cap;
}

.logo > * {
    margin: 4%;
}

.container-hr {
    color: white;
    display: flex;
    width: 100px;
}

.container-footer {
    margin: 0 auto;
    width: 7%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.discord2{
    
}
.registrati-button {

}